@media (max-width :760px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        position: relative;
        top: 20px;
    }

    .paras{
        padding-top: 80px ;
    }
    
}


@media (max-width :430px) {
    nav{
        justify-content: center;

    }

}